/* .App {
  font-family: sans-serif;
  text-align: center;
  font-size: 22px;
  padding: 100px 50px 50px;
} */

/* DAY ONE STYLES */
.user-deets {
  text-align: left;
}

.user-deets img {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 200px;
}

.user-deets a {
  text-decoration: none;
  color: #40a8f3;
  transition: 0.3s ease color;
}

.user-deets a:hover {
  text-decoration: underline;
}

.user-deets h3 {
  font-size: 50px;
  margin: 0 0 20px;
}

.user-deets strong {
  display: block;
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

#twitter-btn {
  background: #1e99e6;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  padding: 2px 8px;
  letter-spacing: 0.5px;
}

/* DAY TWO STYLES */
.users {
  text-align: left;
  margin: 30px 20px;
}
.users div {
  padding: 10px;
  margin: 10px;
  background: rgb(118, 165, 196);
  border-radius: 10px;
}
.page-deets {
  margin-top: 80px;
}

/* DAY THREE STYLES */
.input-display,
.inputs {
  text-align: left;
  margin: 20px;
}

.label {
  margin-right: 10px;
}

.input {
  padding: 5px;
  border-radius: 4px;
}

.subtitle {
  margin-top: 80px;
}

/* DAY FOUR STYLES */
.phrase {
  font-family: sans-serif;
  text-align: center;
  padding: 100px;
  background: #00bf6a;
  color: #fff;
  height: 100vh;
}

h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

input {
  padding: 12px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 18px;
  min-width: 400px;
}

p {
  margin-top: 12px;
  font-size: 14px;
}

p strong {
  font-size: 16px;
}

/* DAY FIVE STYLES */
.Calc {
  font-family: sans-serif;
  text-align: center;
  padding-top: 100px;
  background: #392767;
  min-height: 100vh;
  color: #e5daff;
}

h1 {
  margin-bottom: 50px;
}

.number-inputs {
  margin-bottom: 20px;
}

input {
  font-size: 80px;
  border-radius: 10px;
  border: 1px solid #d2c0fd;
  width: 25%;
  padding: 10px;
  text-align: center;
  background: #d2c0fd;
  color: #2a1263;
}

input:first-child {
  margin-right: 20px;
}

/* button {
  padding: 30px 40px;
  font-size: 30px;
  border-radius: 20px 40px;
  background: #5f30e6;
  border: none;
  margin-bottom: 50px;
  color: #d7cbf7;
  cursor: pointer;
} */

#total {
  font-size: 150px;
}

/* DAY SIX STYLES */
.BoxMain {
  font-family: sans-serif;
  text-align: center;
  padding-top: 100px;
  min-height: 100vh;
  background: #44a851;
  color: rgb(225, 250, 228);
}

.box {
  width: 150px;
  height: 150px;
  background: #dc5b39;
  margin: 0 auto;
  transform: translateY(300px);
  transition: 0.3s cubic-bezier(0.56, 0.2, 0.46, 1.27) all;
}

/* button {
  margin-top: 40px;
  padding: 20px 40px;
  background: #049ad7;
  color: rgb(225, 244, 252);
  font-size: 40px;
  border-radius: 10px;
  border: none;
} */

/* DAY SEVEN STYLES */
.Api {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 80px;
}

.Api > h1 {
  margin-bottom: 5px;
}

.Api > h2 {
  margin-top: 5px;
  opacity: 0.7;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.fetch-button {
  min-width: 150px;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(54, 202, 165);
  border: none;
  color: rgb(15, 66, 54);
  transition: all 0.5s;
}

.fetch-button:hover {
  background-color: rgb(40, 209, 209);
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  background: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 47%;
  color: #333;
  flex-basis: width;
  background-color: rgb(165, 230, 230);
}

.book h3 {
  margin-bottom: 5px;
  font-size: 1rem;
  opacity: 0.7;
}

.book h2 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.details {
  text-align: left;
}

/* DAY EIGHT STYLES */
.AppEight {
  font-family: sans-serif;
  padding: 100px 40px 0;
  background: hsl(197, 87%, 50%);
  color: hsl(197, 87%, 95%);
  height: 100vh;
  overflow: auto;
}

.stat-card {
  background: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px 30px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  min-width: 50%;
  margin-bottom: 15px;
}

.stat-card .stat-line {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  opacity: 0.7;
}

.stat-card span {
  margin-right: 8px;
  transform: translateY(-5px);
}

.stat-card p {
  font-size: 80px;
  font-weight: bold;
}

/* Prism Line Number Plugin */
pre[data-number] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-number {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em; /* Same as .prism's padding-top */
  background: transparent;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

.line-number:before,
.line-number[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  color: #999;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: 0.3em;
  border-radius: 999px;
  text-shadow: none;
  border: 0;
}

.line-number[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: 0.4em;
}
/* End Prism Line Number Plugin */
