/* .App {
  font-family: sans-serif;
  text-align: center;
  font-size: 22px;
  padding: 100px 50px 50px;
} */

/* DAY ONE STYLES */
.user-deets {
  text-align: left;
}

.user-deets img {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 200px;
}

.user-deets a {
  text-decoration: none;
  color: #40a8f3;
  transition: 0.3s ease color;
}

.user-deets a:hover {
  text-decoration: underline;
}

.user-deets h3 {
  font-size: 50px;
  margin: 0 0 20px;
}

.user-deets strong {
  display: block;
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

/* DAY TWO STYLES */
.users {
  text-align: left;
  margin: 30px 20px;
}
.users div {
  padding: 10px;
  margin: 10px;
  background: rgb(118, 165, 196);
  border-radius: 10px;
}
.page-deets {
  margin-top: 80px;
}

/* DAY THREE STYLES */
.input-display,
.inputs {
  text-align: left;
  margin: 20px;
}

.label {
  margin-right: 10px;
}

.input {
  padding: 5px;
  border-radius: 4px;
}

.subtitle {
  margin-top: 80px;
}

/* DAY FOUR STYLES */
.phrase {
  font-family: sans-serif;
  text-align: center;
  padding: 100px;
  background: #00bf6a;
  color: #fff;
  height: 100vh;
}

h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

input {
  padding: 12px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 18px;
  min-width: 400px;
}

p {
  margin-top: 12px;
  font-size: 14px;
}

p strong {
  font-size: 16px;
}
